%h1 Pictagram
= link_to "New Post", new_post_path

-# - if @posts.any?
-#   - @posts.each do |post|
-#     = link_to post.image, post_path(post)
-#     %p= post.caption
-# - else
-#   %h2 No posts yet!
